@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
html,
body {
  margin: 0px;
  padding: 0px;
}
.bg-body-tertiary {
  justify-self: start;
  background-color: transparent !important;
  width: 100%;
  margin: 0px;
  padding: 0.5rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  --bs-navbar-padding-y: 0 !important;
}
.navLink {
  margin: 1rem;
}
.nav-link.active {
  color: aqua !important;
}
.logo {
  justify-self: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.navContent {
  align-self: flex-end;
}

.navContainer {
  display: flex;
  flex-direction: row;
}
.resumeButton {
  margin-top: -5px;
  align-self: center;
  justify-self: center;
  background-color: rgb(31, 30, 30) !important;
  border-color: rgba(34 211 238) !important;
  outline: transparent !important;
}

@media screen and (max-width: 767px) {
  .navLink {
  }

  .bg-body-tertiary {
    margin-top: 1.5rem;
  }

  #basic-navbar-nav {
    margin-left: -7.3rem !important;
  }

  .navBurger.collapsed {
    margin-left: -3.3rem;
  }

  .navBurger {
    margin-left: -7.3rem !important;
  }
}
