@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
html,
body {
  margin: 0px;
  padding: 0px;
}
.bg-body-tertiary {
  justify-self: start;
  background-color: transparent !important;
  width: 100%;
  margin: 0px;
  padding: 0.5rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  --bs-navbar-padding-y: 0 !important;
}
.navLink {
  margin: 1rem;
}
.logo {
  display: flex;
  flex-direction: row;

  align-items: center;
}

.navContent {
  align-self: flex-end;
}

.navContainer {
  display: flex;
  flex-direction: row;
}
